<h1> Studios </h1>
<% @studios.each do |studio| %>
<h2><%= studio.name %></h2>
<p><%= studio.location %></p>
  <h3>Movies By Studio:<% studio.movies.each do |movie| %></h3>
  <%= movie.title %></br>
  <% end %>
<% end %>
